{% extends "html/templates.html" %}
{% block body %}


        <!-- page-title -->
        <div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="ttm-page-title-row-inner">
                            <div class="page-title-heading">
                                <h2 class="title">blog grid view</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="{% url 'home' %}">Home</a>
                                </span>
                                <span>blog</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
        <!-- page-title end -->


    <!--site-main start-->
    <div class="site-main">


            <!--grid-section-->
            <section class="ttm-row grid-section clearfix">
                <div class="container">
                   
                    <div class="row " >
                        {% for i in articles %}
                        
                        <div class="col-lg-4">
                            <!-- featured-imagebox-post -->
                            <div class="featured-imagebox featured-imagebox-post style2">
                                <div class="featured-imagebox-post-inner">
                                    <div class="featured-thumbnail">
                                        <a href="{% url 'article_details' i.name %}">  <img class="img-fluid" src="../../media/{{i.thumbnail}}"  alt="blog-img"></a> 
                                    </div>
                                    <div class="featured-content">
                                        <!-- ttm-box-post-date -->
                                        <div class="ttm-box-post-date">
                                            <div class="entry-date"><span>{{i.created_at | date:'d'}}</span>{{i.created_at | date:'m-y'}}</div>
                                        </div><!-- ttm-box-post-date end -->
                                        <div class="post-meta">
                                            <span class="ttm-meta-line byline">{{i.writer}}</span>
                                        </div>
                                        <div class="featured-title">
                                            <h3><a href="{% url 'article_details' i.name %}">{{i.name}}</a></h3>
                                        </div>
                                        <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="{% url 'article_details' i.name %}">Read More<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-post end -->
                        </div>
                        {% endfor %}

                     
                    </div>
                </div>
            </section>
            <!--blog-section end-->


         

    </div><!--site-main end-->


    {% endblock body %}
