{% extends "html/templates.html" %}
{% block body %}

<style>
    /* Style for the pagination container */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}


/* Style for pagination buttons */
.page-item {
  margin: 0;
}

/* Style for active page */
.active-slide {
    padding: 10px 15px;
    text-decoration: none;
    color: white; /* Button text color */
    background-color: black; /* Button background color */
    border: 1px solid #ccc; /* Button border */
    border-radius: 4px;
}

/* Style for the previous and next buttons */
.page-item a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Button text color */
  background-color: #black; /* Button background color */
  border: 1px solid #ccc; /* Button border */
  border-radius: 4px;

}

/* Style for the previous and next button icons */
.fa-chevron-left,
.fa-chevron-right {
  margin-right: 5px; /* Adjust the spacing between the icon and text */
}

/* Style for disabled buttons */
.page-item.disabled a,
.page-item.disabled i {
  pointer-events: block; /* Disable clicks on disabled buttons */
  opacity: 0.6; /* Reduce opacity for disabled buttons */
}
.previous, .next-slide{
    margin: 0px 5px;

}
</style>
<div class="ttm-page-title-row ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix">
    <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="ttm-page-title-row-inner">
                    <div class="page-title-heading">
                        <h2 class="title">Start Your Career With Us</h2>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <span>
                            <a title="Homepage" href="{% url 'home' %}">Home</a>
                        </span>
                        <span>Career</span>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>


    <!--site-main start-->
    <div class="site-main">


            <!--grid-section-->
            <section class="ttm-row sidebar ttm-sidebar-right clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 widget-area sidebar-right">
                            <aside class="widget widget-search with-title">
                                <form role="search" method="GET" class="search-form" action="{% url 'career' %}">
                                    <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="input-text" placeholder="Search …" value="" name="search">
                                    </label>
                                    <button class="btn ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" type="submit"><i class="fa fa-search"></i> </button>
                                </form>
                            </aside>
                         
                          
                            <aside class="widget tagcloud-widget with-title">
                                <h3 class="widget-title">Skills</h3>
                                <div class="tagcloud">
                                    {% for i in skills %}
                                    
                                    <a href="{% url 'career' %}?tag={{i.skill}}" class="tag-cloud-link">{{i.skill}}</a>
                                    {% endfor %}
                                   
                                </div>
                            </aside>
                           
                        </div>
                        <div class="row col-lg-9 content-area" >
                            {% for i in jobs %}
                            
                            <a href="{% url 'career_detail' i.title %}">
                            <div class="col-lg-12">
                                <!-- featured-imagebox-post -->

                                    <div class="featured-imagebox featured-imagebox-post style2">
                                        <div class="featured-imagebox-post-inner">
                                        
                                            <div class="featured-content">
                                            <!-- ttm-box-post-date end -->
                                                <div class="row">
                                                    <div class="col-6">

                                                        <div class="featured-title">
                                                            <h3><a >{{i.title}}</a></h3>
                                                        </div>
                                                        <div class="post-meta">
                                                            <span class="ttm-meta-line byline">Position : {{i.sub_title}}</span>
                                                        </div>
                                                        <div class="post-meta">
                                                            <span class="">Package: ₹.{{i.salary}}</span>
                                                        </div>
                                                        <div class="post-meta">
                                                            <span class="">Last Date: {{i.last_date | date:'d,M Y'}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="featured-title">
                                                            <span>Location : {{i.location}}</span>
                                                        </div>
                                                        <div class="featured-title">
                                                            <span>Experiance : {{i.experiance}}</span>
                                                        </div>
                                                        <div class="post-meta">
                                                            <a>Skills Required:</a>
                                                            {% for j in i.skills.all %}
                                                                
                                                                <a  class="tag-cloud-link" style="background-color:#eff3ff;padding:6px;border-radius:10px">{{j.skill}}</a>
                                                                {% endfor %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!-- featured-imagebox-post end -->
                                </div>
                            </a>
                            {% endfor %}

                        
                        </div>
                        
                        
                        <nav aria-label="Page navigation example hide-mobile" style="display: flex !important;
                                    width: 100% !important;
                                    justify-content: center;">
                            {% if jobs.has_other_pages %}
                             <ul class="pagination">
                                                    {% if jobs.has_previous %}
                                                    <li class="previous page-item"><a href="?page={{ jobs.previous_page_number }}"><i
                                                                class="fa fa-chevron-left"> </i></a></li>
                                                    {% else %}
                                                    <li class="disabled page-item"><i class=""></i></li>
                                                    {% endif %} {% for i in jobs.paginator.page_range %} {% if jobs.number == i %}
                                                    <li class="active-slide page-item"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                                    </li>
                                                    {% else %}
                                                    <li class="next page-item"><a href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %} {% endfor %} {% if jobs.has_next %}
                                                    <li class="next-slide page-item"><a href="?page={{ jobs.next_page_number }}"><i
                                                                class="fa fa-chevron-right"></i></a></li>
                                                    {% else %}
                                                    <li class="disabled page-item"><i class="bi bi-caret-right-fill"></i></li>
                                                    {% endif %}
                             </ul>
                             {% endif %}
                                
                        </nav>
                    </div>
                </div>
            </section>
            <!--blog-section end-->
            
            
         

    </div><!--site-main end-->


    {% endblock body %}

    {% block jscript %}
    <script>
        document.getElementById("categoryDropdown").addEventListener("change", function () {
            var selectedOption = this.options[this.selectedIndex];
            var redirectUrl = selectedOption.getAttribute("data-url");
            if (redirectUrl) {
                window.location.href = redirectUrl;
            }
        });
    </script>
    {% endblock jscript %}
