
{% extends 'html/templates.html' %}
{% load static %}
{% block body %}

<style>
    @media (min-width: 1200px)  {
        .target-indm{
            display : none !important;
    
        }
        .slick_slider .slick-arrow {
            height: 71px ;
            width: 58px ;
        }
        .slick_slider.slick-arrows-style2 .slick-prev {
            left: 55%;
        }
        .slick_slider.slick-arrows-style2 .slick-next {
            right: 35%;
            
        }
    }
        @media  (min-width: 800px) and (max-width: 1200px) {
            .target-indm{
                display : none !important;
        
            }
            .slick_slider .slick-arrow {
                height: 71px ;
                width: 58px ;
            }
            .slick_slider.slick-arrows-style2 .slick-prev {
                left: 65%;
            }
            .slick_slider.slick-arrows-style2 .slick-next {
                right: 15%;
                
            }
    }
    @media  (min-width: 530px) and (max-width: 800px) {
        .target-indm{
            display : flex !important;
    
        }
        .target-ind{
            display :none !important;
        }
        .slick_slider .slick-arrow {
            height: 61px ;
            width: 50px ;
        }
        .slick_slider.slick-arrows-style2 .slick-prev {
            left: 65%;
        }
        .slick_slider.slick-arrows-style2 .slick-next {
            right: 15%;
            
        }
}
@media    (max-width: 530px) {
    .target-indm{
        display : flex !important;

    }
    .target-ind{
        display : none !important;
    }
    .slick_slider .slick-arrow {
        height: 61px ;
        width: 50px ;
    }
    .slick-prev {
       
        position: static;
    }
    .slick-prev{
        margin-left: 7rem !important;
        background-color:#009599 !important;
        color:white !important;
    }
    .slick-next{
        position:none;
        right: 7rem !important;
        background-color:#009599 !important;
        color:white !important;
    }
    .slick_slider.slick-arrows-style2 .slick-arrow {
        top: 0px;
        box-shadow: unset;
    }
}


</style>
         <!-- Banner -->
        <div class="banner_slider_wrapper">
            <div class="banner_slider banner_slider_3 banner_slider_3_overlay">
                {% for i in banner_img %}
                
                <div class="slide">
                    <div class="slide_img" style="background-image: url(../../media/{{i.img}});"></div>
                    <div class="slide__content padding_top90 res-1199-padding_top0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="slide__content--headings ttm-textcolor-white">
                                        <div class="left-content">
                                            <h2  data-animation="fadeInDown">{{i.headline}}</h2>
                                            <div class="d-inline-block margin_top30" data-animation="fadeInUp" data-delay="1.4">
                                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="{% url 'about_us' %}">more details</a>
                                            </div>
                                        </div>
                                        <div class="quotes-2"  data-animation="fadeInRight">
                                            
                                            <blockquote>{{i.subheadline}}</blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="slide">
                    <div class="slide_img" style="background-image: url(images/slides/slider-mainbg-006.jpg);"></div>
                    <div class="slide__content padding_top90 res-1199-padding_top0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="slide__content--headings ttm-textcolor-white">
                                        <div class="quotes-1"  data-animation="fadeInLeft">
                                            <blockquote>“Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,”</blockquote>
                                            <a class="ttm-btn btn-inline ttm-btn-size-sm ttm-icon-btn-right ttm-btn-color-skincolor" href="#"> More about us<i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="right-content">
                                            <h3  data-animation="fadeInDown">We are dedicated to fish farming</h3>
                                            <h2  data-animation="fadeInDown">For the fish lovers</h2>
                                            <p  data-animation="fadeInDown" class="padding_right40">Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                            <div class="d-inline-block margin_top30" data-animation="fadeInUp" data-delay="1.4">
                                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="about-us.html">more details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% endfor %}

            </div>
        </div>
        <!-- Banner end-->

    
        <!--site-main start-->
        <div class="site-main">


            <!--about-section-->
            <section class="ttm-row about-section clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title style2">
                                <div class="title-header">
                                    <h2 class="title">Streamlining Maritime Excellence</h2>
                                    <h4>CLARITY | FOCUS | SPEED</h4>

                                </div>
                                <div class="title-desc">
                                    <p>Discover excellence in maritime operations with our comprehensive ship management and related services. We offer full services global solutions, from vessel maintenance and crew management to logistics optimization and technical management. With a proven track record, we ensure the smooth sailing of your fleet, always putting safety and efficiency at the forefront.</p>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                        
                        <div class="col-lg-12 col-md-12 row">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="fa fa-info"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="25" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="+"
                                                        data-after-style="sub" 
                                                        class="numinate">25</span><span>+</span>
                                            </h4>
                                            <h3 class="ttm-fid-title">Years of Global Experience</h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="fa fa-info"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="12000" 
                                                        data-interval="2000" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="+"
                                                        data-after-style="sub" 
                                                        class="numinate">12000</span><span>+</span>
                                            </h4>
                                            <h3 class="ttm-fid-title">Crew Placed on All Vessel Types & Counting Daily</h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="fa fa-info"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="500" 
                                                        data-interval="100" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="k+"
                                                        data-after-style="sub" 
                                                        class="numinate">500</span><span>k+</span>
                                            </h4>
                                            <h3 class="ttm-fid-title">Ships Provided with Various Services, Systems and Solutions</h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="fa fa-info"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="30" 
                                                        data-interval="10" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="k+"
                                                        data-after-style="sub" 
                                                        class="numinate">30</span><span>k+</span>
                                            </h4>
                                            <h3 class="ttm-fid-title">Countries Covered for Operations</h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                            </div>
                            
                           
                        </div>
                </div>
            </section>
            <!--about-section end-->
            <!--padding_zero-section-->
            <section class="ttm-row padding_bottom_zero-section bg-img2 clearfix">
                <div class="container P-0">
                    <div class="row">
                        <div class="col-xl-11 col-lg-11 col-md-11">
                            <!-- section title -->
                            <div class="section-title style2 without-sep">
                                <div class="title-header ttm-textcolor-white">
                                    <h3>our best services</h3>
                                    <h2 class="title">Devoted Services</h2>
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="{% url 'services' %}">Services</a>
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="{% url 'contact_us' %}">Contact Us</a>
                                        
                                </div>
                                                                     
                            </div><!-- section title end -->
                        </div>
                        <div class="col-lg-12">
                            <div class="ttm-bg ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-grey ttm-right-span spacing-1 margin_top10">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                    <div class="ttm-col-wrapper-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content">
                                    <div class="ttm-expandcontent_column">
                                        <div class="ttm-expandcontent_wrapper ttm-bgcolor-grey">
                                            <!-- row -->
                                            <div class="row slick_slider slick-arrows-style2 " data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows":true, "autoplay":false, "dots":false, "infinite":true, "responsive":[{"breakpoint":1200,"settings":{"slidesToShow": 3}},{"breakpoint":992,"settings":{"slidesToShow": 2}},{"breakpoint":650,"settings":{"slidesToShow": 1}}]}'>
                                                {% for service in services %}
                                                
                                                <div class="col-md-4 col-sm-6">
                                                    <!--featured-imagebox-->
                                                    <div class="featured-imagebox featured-imagebox-services style1">
                                                        <!-- featured-thumbnail -->
                                                        <div class="featured-thumbnail">
                                                            <img class="img-fluid" src="../../media/{{service.img}}" alt="image">
                                                        </div><!-- featured-thumbnail end-->
                                                        <div class="featured-content">
                                                            <div class="featured-icon">
                                                               
                                                            </div>
                                                            <div class="featured-title">
                                                                <h3>{{service.headline}}</h3>
                                                            </div>
                                                            <div class="featured-desc">
                                                                <p>{{service.description}}</p>
                                                            </div>
                                                        </div>
                                                    </div><!-- featured-imagebox end-->
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--padding_zero-section end-->



            {% comment %} <!--portfolio-section-->
            <section class="ttm-row portfolio-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>OUR BEST PROJECT</h3>
                                    <h2 class="title">Aqovo, An Exquisite Portfolio</h2>
                                </div>
                                <div class="title-desc"><p>Build a global portfolio across the value chain to demonstrates aquaculture to generate competitive returns</p></div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                </div>
                <div class="container-fluid p-0">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ttm-tabs portfolio_filter_tab ttm-tab-style-01">
                                <ul class="tabs portfolio-filter">
                                    <li class="tab active"><a href="#" data-filter="*">All</a></li>
                                    <li class="tab"><a href="#" data-filter=".catfish">Catfish</a></li>
                                    <li class="tab"><a href="#" data-filter=".feeding">Feeding</a></li>
                                    <li class="tab"><a href="#" data-filter=".angling">Angling</a></li>
                                    <li class="tab"><a href="#" data-filter=".storage">Storage</a></li>
                                </ul>
                                <div class="content-tab">
                                    <!-- content-inner -->
                                    <div class="row ttm-boxes-spacing-30px isotope-project">
                                        <div class="col-lg-3 col-md-6 col-sm-6 catfish feeding">
                                            <!-- featured-imagebox -->
                                            <div class="featured-imagebox featured-imagebox-portfolio style1">
                                                <!-- ttm-box-view-overlay -->
                                                <div class="ttm-box-view-overlay">
                                                    <!-- featured-thumbnail -->
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/portfolio/portfolio-01-770x770.jpg' %}" alt="image">
                                                    </div><!-- featured-thumbnail end-->
                                                    <div class="ttm-media-link">
                                                        <a class="ttm_prettyphoto ttm_image" title="Cage System" data-rel="prettyPhoto" href="images/portfolio/portfolio-01-1200x800.jpg">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                        <a href="portfolio-single.html" class="ttm_link"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div><!-- ttm-box-view-overlay end-->
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3><a href="portfolio-single.html">Cage System</a></h3>
                                                        <div class="category">Catfish, Feeding</div>
                                                    </div>
                                                </div>
                                            </div><!-- featured-imagebox end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 angling storage">
                                            <!-- featured-imagebox -->
                                            <div class="featured-imagebox featured-imagebox-portfolio style1">
                                                <!-- ttm-box-view-overlay -->
                                                <div class="ttm-box-view-overlay">
                                                    <!-- featured-thumbnail -->
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/portfolio/portfolio-02-770x770.jpg' %}" alt="image">
                                                    </div><!-- featured-thumbnail end-->
                                                    <div class="ttm-media-link">
                                                        <a class="ttm_prettyphoto ttm_image" title="Prawn Lack" data-rel="prettyPhoto" href="images/portfolio/portfolio-02-1200x800.jpg">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                        <a href="portfolio-single.html" class="ttm_link"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div><!-- ttm-box-view-overlay end-->
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3><a href="portfolio-single.html">Prawn Lack</a></h3>
                                                        <div class="category">Angling, Storage</div>
                                                    </div>
                                                </div>
                                            </div><!-- featured-imagebox end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 feeding storage">
                                            <!-- featured-imagebox -->
                                            <div class="featured-imagebox featured-imagebox-portfolio style1">
                                                <!-- featured-thumbnail -->
                                                <div class="ttm-portfolio-format-video">
                                                    <iframe src="https://www.youtube.com/embed/vwCIoVICDY4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                                </div><!-- featured-thumbnail end-->
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3><a href="portfolio-single.html">Fish Storage</a></h3>
                                                        <div class="category">Feeding, Storage</div>
                                                    </div>
                                                </div>
                                            </div><!-- featured-imagebox end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 angling catfish">
                                            <!-- featured-imagebox -->
                                            <div class="featured-imagebox featured-imagebox-portfolio style1">
                                                <!-- ttm-box-view-overlay -->
                                                <div class="ttm-box-view-overlay">
                                                    <!-- featured-thumbnail -->
                                                    <div class="featured-thumbnail">
                                                        <img class="img-fluid" src="{% static 'images/portfolio/portfolio-03-770x770.jpg' %}" alt="image">
                                                    </div><!-- featured-thumbnail end-->
                                                    <div class="ttm-media-link">
                                                        <a class="ttm_prettyphoto ttm_image" title="Catfish Pound" data-rel="prettyPhoto" href="images/portfolio/portfolio-03-1200x800.jpg">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                        <a href="portfolio-single.html" class="ttm_link"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div><!-- ttm-box-view-overlay end-->
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3><a href="portfolio-single.html">Catfish Pound</a></h3>
                                                        <div class="category">Angling, Catfish</div>
                                                    </div>
                                                </div>
                                            </div><!-- featured-imagebox end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </section>
            <!--portfolio-section end --> {% endcomment %}


            <!--testimonial-section-->
            <section class="ttm-row testimonial-section row-map1 clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title -->
                            <div class="section-title style2">
                                <div class="title-header">
                                    <h3>OUR CLIENTS</h3>
                                    <h2 class="title">Listen, What They Say!</h2>
                                </div>
                                <div class="title-desc">
                                    <p>Let’s see! Publishes reviews pertaining aquatic invertebrates, covering aquaculture, genetics & nutrition.</p>
                                </div>
                            </div><!-- section-title end -->
                        </div>
                    </div><!-- row end -->
                    <div class="row slick_slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows":false, "centerMode":false, "centerPadding":0, "autoplay":true, "dots":false, "infinite":true, "responsive":[{"breakpoint":992,"settings":{"slidesToShow": 2}},{"breakpoint":840,"settings":{"slidesToShow": 2}},{"breakpoint":650,"settings":{"slidesToShow": 1}}]}'>
                        <div class="col-lg-12">
                            <!-- testimonials -->
                            <div class="testimonials ttm-testimonial-box-view-style2">
                                <div class="testimonial-content">
                                    <blockquote class="testimonial-text">Aqovo has done a great job taking on a challenging pond/pump system and making the very best of it. With innovative ideas to use nature rather than chemicals, they have made complaint calls.</blockquote>
                                    <div class="testimonial-bottom">
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-fluid" src="images/testimonial/01.jpg" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <div class="testimonial-caption">
                                            <h3>Alex Sam Martin</h3>
                                            <label>Main Director</label>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- testimonials end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- testimonials -->
                            <div class="testimonials ttm-testimonial-box-view-style2"> 
                                <div class="testimonial-content">
                                    <blockquote class="testimonial-text">Mosquito larva is under control, algae is under control, and most of all, the budget is under control. Thank you and we look forward to a continued relationship with Aqovo!  Thank you, Aqovo!</blockquote>
                                    <div class="testimonial-bottom">
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-fluid" src="images/testimonial/02.jpg" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <div class="testimonial-caption">
                                            <h3>Braylin Rosie</h3>
                                            <label>CEO Of Founder</label>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- testimonials end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- testimonials -->
                            <div class="testimonials ttm-testimonial-box-view-style2"> 
                                <div class="testimonial-content">
                                    <blockquote class="testimonial-text">Aqovo has been taking care of all aspects of our pond care for quite a few years, from the stocking and health of fish, to the maintenance and upkeep of the pond water and plants. Recommending!</blockquote>
                                    <div class="testimonial-bottom">
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-fluid" src="images/testimonial/03.jpg" alt="testimonial-img">
                                            </div>
                                        </div>
                                        <div class="testimonial-caption">
                                            <h3>Victor Williamson</h3>
                                            <label>Main Experts</label>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- testimonials end -->
                        </div>
                    </div>
                </div>
            </section>
            <!--testimonial-section end-->

            

        </div><!--site-main end-->


    
        <!--site-main start-->
        <div class="site-main">


            <!--about-section-->
            <section class="ttm-row about-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="target-ind align-items-center d-flex">
                        <div class="col-lg-6 col-md-5 col-sm-4">
                            <div class="d-flex">
                                <div class="ttm_single_image-wrapper">
                                    <img class="img-fluid" src="{% static 'images/single-img-01.jpg' %}" alt="single-01">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="margin_top15 res-991-margin_top50">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h2 class="title">Target Industries</h3>
                                    </div>
                                    <div class="title-desc">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey fs-15">
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                     <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">We Serving Up Seaweed</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey fs-15">
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">New Options From Startups</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">Taking Aquaculture Further</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">Tackling a Seafood Deficit</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- section title end -->
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark  margin_top15" href="{% url 'contact_us' %}">contact us</a>
                                <div class="ttm-horizontal_sep width-100 margin_top40 margin_bottom30"></div>
                               
                            </div>
                        </div>
                    </div><!-- row end -->
                    <div class="target-indm align-items-center row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="d-flex ">
                                <div class="ttm_single_image-wrapper">
                                    <img class="img-fluid" src="{% static 'images/single-img-01.jpg' %}" alt="single-01">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="margin_top15 res-991-margin_top50">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header d-flex justify-content-center">
                                        <h2 class="title">Target Industries</h3>
                                    </div>
                                    <div class="title-desc d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey fs-15" style="display: flex;
                                                flex-direction: column;
                                                align-items: center;">
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                     <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">We Serving Up Seaweed</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey fs-15" style="display: flex;
                                                flex-direction: column;
                                                align-items: center;">
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">The Asia Leads the Way</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">A Feeding Farmed Fish</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">New Options From Startups</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">Taking Aquaculture Further</span></li>
                                                    <li><i class="ti ti-arrow-circle-right"></i><span class="ttm-list-li-content">Tackling a Seafood Deficit</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- section title end -->
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-dark  margin_top15" href="{% url 'contact_us' %}">contact us</a>
                                <div class="ttm-horizontal_sep width-100 margin_top40 margin_bottom30"></div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--about-section end-->



            <section class="ttm-row ttm-bgcolor-grey clearfix mb-0" >
                <div class="container" style="border-bottom:1px solid black">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center padding_bottom15">
                                <h4 class="mt_10">Committed to keep the Maritime Industry Safe</h4>
                                <h5>From Seafarers to Vessels, Health and Safety keeps Physical and Financial Risks at Bay</h5>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor margin_top15" href="{% static 'custom-imges/BROCHURE.pdf' %}" download>Get Brochure</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--blog-section-->
            <!--blog-section-->
            <section class="ttm-row blog-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>KNOWLEDGE CORNER</h3>
                                    <h2 class="title">Our Latest Top Articles</h2>
                                </div>
                                <div class="title-desc">
                                    <p>Let’s get knowledge & expand marine & aqua farming skills. We have some research work and news!</p>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <div class="row">
                        {% for article in articles %}
                        
                        <div class="col-lg-4">
                            <!-- featured-imagebox-post -->
                            <div class="featured-imagebox featured-imagebox-post style2">
                                <div class="featured-imagebox-post-inner">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="../../media/{{article.thumbnail}}" alt="blog-img">
                                    </div>
                                    <div class="featured-content">
                                        <!-- ttm-box-post-date -->
                                        <div class="ttm-box-post-date">
                                            <div class="entry-date"><span>{{article.created_at | date:"d"}}</span>{{article.created_at | date:'M,y'}}</div>
                                        </div><!-- ttm-box-post-date end -->
                                        <div class="post-meta">
                                            <span class="ttm-meta-line category">{{article.category}}</span>
                                            <span class="ttm-meta-line byline">{{article.writer}}</span>
                                        </div>
                                        <div class="featured-title">
                                            <h3><a href="blog-single.html">{{article.name}}</a></h3>
                                        </div>
                                        <a class="ttm-btn btn-inline ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor" href="{% url 'article_details' article.name %}">Read More<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-post end -->
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
            <!--blog-section end-->
            <!--blog-section end-->


        </div><!--site-main end-->

        {% endblock body %}


